In [6]:
# Import and use
from database_explorer import create_database_connection, get_dataframe_for_notebook

# Create connection
engine = create_database_connection()

# Load DataFrame
df = get_dataframe_for_notebook(engine, 'public', 'urban_institute_data')

# Work with DataFrame
df.head()
df.info()
df.describe()

# Your analysis code here
df.groupby('year').agg({
    'enrollment': ['mean', 'std', 'count']
})

âœ… Connected to PostgreSQL successfully!
Database: milestone2 on localhost:5432
PostgreSQL Version: PostgreSQL 16.1
ðŸ”„ Loading table public.urban_institute_data as DataFrame...
âœ… Successfully loaded public.urban_institute_data
ï¿½ï¿½ DataFrame shape: 1594865 rows Ã— 65 columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1594865 entries, 0 to 1594864
Data columns (total 65 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   id                           1594865 non-null  int64
 1   data_source                  1594865 non-null  object
 2   endpoint                     1594865 non-null  object
 3   year                         1594865 non-null  int64
 4   fetched_at                   1594865 non-null  datetime64[ns]
 5   created_at                   1594865 non-null  datetime64[ns]
 6   updated_at                   1594865 non-null  datetime64[ns]
 7   street_mailing               511214 non-null   object
 8   middle_cedp                  511214 non-null   float64
 9   state_mailing                511214 non-null   object
 10  reduced_price_lunch          440954 non-null   float64
 11  school_type                  511214 non-null   float64
 12  title_i_eligible             100425 non-null   float64
 13  street_location              511214 non-null   object
 14  bureau_indian_education      0 non-null        object
 15  title_i_status               100425 non-null   float64
 16  title_i_schoolwide           94457 non-null    float64
 17  high_cedp                    511214 non-null   float64
 18  school_name                  511214 non-null   object
 19  virtual                      502483 non-null   float64
 20  state_location               511214 non-null   object
 21  ncessch_num                  594865 non-null   float64
 22  grade                        83651 non-null    float64
 23  longitude                    511214 non-null   float64
 24  fips                         1594865 non-null  int64
 25  city_mailing                 511214 non-null   object
 26  free_or_reduced_price_lunch  458780 non-null   float64
 27  latitude                     511214 non-null   float64
 28  urban_centric_locale         511214 non-null   float64
 29  county_code                  511214 non-null   object
 30  leaid                        1594865 non-null  object
 31  direct_certification         332596 non-null   float64
 32  congress_district_id         511214 non-null   float64
 33  zip_location                 511214 non-null   object
 34  csa                          511214 non-null   object
 35  sex                          1083651 non-null  float64
 36  school_level                 511214 non-null   float64
 37  elem_cedp                    511214 non-null   float64
 38  state_leg_district_lower     511214 non-null   object
 39  school_status                511214 non-null   float64
 40  school_id                    511214 non-null   object
 41  free_lunch                   440954 non-null   float64
 42  phone                        511214 non-null   object
 43  shared_time                  502483 non-null   float64
 44  highest_grade_offered        500800 non-null   float64
 45  state_leaid                  511214 non-null   object
 46  lunch_program                502483 non-null   float64
 47  state_leg_district_upper     511214 non-null   object
 48  ungrade_cedp                 511214 non-null   float64
 49  charter                      511214 non-null   float64
 50  lowest_grade_offered         500800 non-null   float64
 51  cbsa                         511214 non-null   object
 52  teachers_fte                 486978 non-null   float64
 53  race                         1083651 non-null  float64
 54  lea_name                     511214 non-null   object
 55  ncessch                      1594865 non-null  object
 56  city_location                511214 non-null   object
 57  zip_mailing                  511214 non-null   object
 58  magnet                       100425 non-null   float64
 59  seasch                       511214 non-null   object
 60  enrollment                   581634 non-null   float64
 61  crdc_id                      1000000 non-null  object
 62  lep                          1000000 non-null  float64
 63  disability                   1000000 non-null  float64
 64  students_SAT_ACT             1000000 non-null  float64
dtypes: datetime64[ns](3), float64(34), int64(3), object(25)
memory usage: 790.9+ MB

      enrollment
            mean         std   count
year
2020         NaN         NaN       0
2021  416.720663  448.974851  127477
2022  452.818111  459.507330  227254
2023  452.718179  462.247722  226903